@(label: String, options: (String, String) = ("Yes", "No"))(id: String, name: String, value: Option[String], args: Map[Symbol, Any])

<div class="form-group my-2">
    <label>@label</label>
    <br />
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @if(value.contains("true")) {
            <label class="btn btn-secondary active">
                <input type="radio" id="@id" name="@name" value="true" checked>
                @options._1
            </label>
        } else {
            <label class="btn btn-secondary">
                <input type="radio" id="@id" name="@name" value="true">
                @options._1
            </label>
        }
        @if(value.contains("false")) {
            <label class="btn btn-secondary active">
                <input type="radio" id="@id" name="@name" value="false" checked>
                @options._2
            </label>
        } else {
            <label class="btn btn-secondary">
                <input type="radio" id="@id" name="@name" value="false">
                @options._2
            </label>
        }
    </div>
</div>
