@(game: model.GameWithGameState)

<span>
    @Html(game.state.r3.map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @Html(game.state.r2.map(_ => "<sup>&#x25C6;</sup>").getOrElse("<sup>&#x25C7;</sup>"))
    @Html(game.state.r1.map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @game.awayTeam.tag @game.state.scoreAway - @game.state.scoreHome @game.homeTeam.tag
    |
    @game.inningWithOuts
</span>
